
.section1 {
    position: relative;
    display: flex;
    height: 70vh;
    width: 100%;
    padding: 3rem 0;
    padding-top: 6rem;
    align-items: center;
    justify-content: center;
}

.section2 {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 8rem;
    align-items: center;
    justify-content: center;
}

.spacer {
    width: calc(70vh * 770 / 1600);
    height: 70vh;
}

.img {
    position: absolute;
    top: 0;
    left: 5rem;
    margin: 2rem;
    border-radius: 0.8rem;
    background-color: #d8d1cf;
    color: #373440;
    padding: 0;
    overflow: hidden;
    height: 70vh;
    aspect-ratio: 770/1600;
    z-index: 2;
}

.img > img {
    height: 100%;
}

.divider {
    position: absolute;
    bottom: 0;
    left: -15%;
    width: 130%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-30%);
    z-index: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1rem);
    height: 3rem;
}

.divider svg:nth-child(1) {
    transform: rotate(180deg);
}

.divider svg:nth-child(2) {
    height: 18rem;
}

.divider .shapeFill {
    fill: #e13e3b;
}
